spread-scanner-futures.json
{
  "name": "CEX/DEX Spread Scanner - MEXC Futures vs Jupiter Solana",
  "nodes": [
    {
      "id": "fs1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "parameters": {
        "rule": { "interval": [{ "field": "seconds", "secondsInterval": 30 }] }
      }
    },
    {
      "id": "fs2",
      "name": "MEXC Futures Tickers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300],
      "parameters": { "url": "https://contract.mexc.com/api/v1/contract/ticker", "method": "GET", "options": {} }
    },
    {
      "id": "fs3",
      "name": "Build MEXC Price Map",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "jsCode": "const tickers = $input.first().json.data || [];\nconst mexcPriceMap = {};\nfor (const t of tickers) {\n  if (typeof t.symbol === 'string' && t.symbol.endsWith('_USDT')) {\n    mexcPriceMap[t.symbol.slice(0, -5)] = parseFloat(t.lastPrice);\n  }\n}\nreturn [{ json: { mexcPriceMap } }];"
      }
    },
    {
      "id": "fs_db",
      "name": "Fetch DB Tokens",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300],
      "parameters": {
        "url": "https://ymwjfvtqtgtfqfiojsyx.supabase.co/rest/v1/common_tokens_futures?select=symbol,mint",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "sb_publishable_nI6zclBG_CYamJP5PjgXoA_dTzFBHWB" },
            { "name": "Authorization", "value": "Bearer sb_publishable_nI6zclBG_CYamJP5PjgXoA_dTzFBHWB" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "fs4",
      "name": "Find Common Tokens",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "jsCode": "const mexcPriceMap = $('Build MEXC Price Map').first().json.mexcPriceMap;\nconst dbTokens = $input.all().map(item => item.json);\n\nconst result = [];\nfor (const token of dbTokens) {\n  const { symbol, mint } = token;\n  if (symbol && mint && mexcPriceMap[symbol] !== undefined) {\n    result.push({ symbol, mint, mexcPrice: mexcPriceMap[symbol] });\n  }\n}\nreturn result.map(t => ({ json: t }));"
      }
    },
    {
      "id": "fs_batch",
      "name": "Prepare Batches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300],
      "parameters": {
        "jsCode": "const mints = $input.all().map(t => t.json.mint);\nconst batches = [];\nfor (let i = 0; i < mints.length; i += 50) {\n  batches.push(mints.slice(i, i + 50).join(','));\n}\nreturn batches.map(ids => ({ json: { mintIds: ids } }));"
      }
    },
    {
      "id": "fs5",
      "name": "Fetch Jupiter Prices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 300],
      "parameters": {
        "url": "=https://api.jup.ag/price/v3?ids={{ $json.mintIds }}",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "x-api-key", "value": "YOUR_JUPITER_API_KEY" }]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "onError": "continueRegularOutput"
    },
    {
      "id": "fs6",
      "name": "Calculate Spreads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 300],
      "parameters": {
        "jsCode": "// Merge all Jupiter batch responses into one price map\nconst priceMap = {};\nfor (const item of $input.all()) {\n  for (const [mint, data] of Object.entries(item.json)) {\n    if (data && data.usdPrice != null) priceMap[mint] = parseFloat(data.usdPrice);\n  }\n}\n\n// Compare against MEXC Futures prices\nconst tokens = $('Find Common Tokens').all();\nconst spreads = [];\nconst timestamp = new Date().toISOString();\n\nfor (const item of tokens) {\n  const { symbol, mint, mexcPrice } = item.json;\n  const jupPrice = priceMap[mint];\n  if (!jupPrice || !mexcPrice || isNaN(jupPrice) || isNaN(mexcPrice)) continue;\n\n  const spreadPct = ((mexcPrice - jupPrice) / jupPrice) * 100;\n  const absSpread = Math.abs(spreadPct);\n\n  if (absSpread >= 5) {\n    spreads.push({ symbol, mint, mexc_price: mexcPrice, jup_price: jupPrice,\n      spread_pct: parseFloat(spreadPct.toFixed(4)),\n      abs_spread_pct: parseFloat(absSpread.toFixed(4)),\n      direction: spreadPct > 0 ? 'Buy JUP -> Sell MEXC Futures' : 'Buy MEXC Futures -> Sell JUP' });\n  }\n}\n\nspreads.sort((a, b) => b.abs_spread_pct - a.abs_spread_pct);\nreturn [{ json: { spreads, count: spreads.length, tokens_compared: tokens.length, timestamp } }];"
      }
    },
    {
      "id": "fs7",
      "name": "Log Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 300],
      "parameters": {
        "method": "POST",
        "url": "https://ymwjfvtqtgtfqfiojsyx.supabase.co/rest/v1/spread_scans_futures",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "sb_publishable_nI6zclBG_CYamJP5PjgXoA_dTzFBHWB" },
            { "name": "Authorization", "value": "Bearer sb_publishable_nI6zclBG_CYamJP5PjgXoA_dTzFBHWB" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ scanned_at: $('Calculate Spreads').first().json.timestamp, tokens_compared: $('Calculate Spreads').first().json.tokens_compared, alerts_count: $('Calculate Spreads').first().json.count }) }}",
        "options": {}
      }
    },
    {
      "id": "fs8",
      "name": "Has Spreads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2160, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
          "conditions": [{ "id": "cond1", "leftValue": "={{ $('Calculate Spreads').first().json.count }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }],
          "combinator": "and"
        }
      }
    },
    {
      "id": "fs9",
      "name": "Save Spread Alerts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 200],
      "parameters": {
        "method": "POST",
        "url": "https://ymwjfvtqtgtfqfiojsyx.supabase.co/rest/v1/spread_alerts_futures",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "sb_publishable_nI6zclBG_CYamJP5PjgXoA_dTzFBHWB" },
            { "name": "Authorization", "value": "Bearer sb_publishable_nI6zclBG_CYamJP5PjgXoA_dTzFBHWB" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Calculate Spreads').first().json.spreads.map(s => ({ scan_id: $json[0].id, scanned_at: $('Calculate Spreads').first().json.timestamp, symbol: s.symbol, mint: s.mint, mexc_price: s.mexc_price, jup_price: s.jup_price, spread_pct: s.spread_pct, abs_spread_pct: s.abs_spread_pct, direction: s.direction, exchanges: 'MEXC Futures/Jupiter' })) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "MEXC Futures Tickers", "type": "main", "index": 0 }]] },
    "MEXC Futures Tickers": { "main": [[{ "node": "Build MEXC Price Map", "type": "main", "index": 0 }]] },
    "Build MEXC Price Map": { "main": [[{ "node": "Fetch DB Tokens", "type": "main", "index": 0 }]] },
    "Fetch DB Tokens": { "main": [[{ "node": "Find Common Tokens", "type": "main", "index": 0 }]] },
    "Find Common Tokens": { "main": [[{ "node": "Prepare Batches", "type": "main", "index": 0 }]] },
    "Prepare Batches": { "main": [[{ "node": "Fetch Jupiter Prices", "type": "main", "index": 0 }]] },
    "Fetch Jupiter Prices": { "main": [[{ "node": "Calculate Spreads", "type": "main", "index": 0 }]] },
    "Calculate Spreads": { "main": [[{ "node": "Log Scan", "type": "main", "index": 0 }]] },
    "Log Scan": { "main": [[{ "node": "Has Spreads?", "type": "main", "index": 0 }]] },
    "Has Spreads?": { "main": [[{ "node": "Save Spread Alerts", "type": "main", "index": 0 }], []] }
  },
  "settings": { "executionOrder": "v1", "saveDataErrorExecution": "all", "saveDataSuccessExecution": "none" }
}
