spread-scanner.json
{
  "name": "CEX/DEX Spread Scanner - MEXC vs Jupiter Solana",
  "nodes": [
    {
      "id": "node1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "seconds", "secondsInterval": 30 }]
        }
      }
    },
    {
      "id": "node2",
      "name": "MEXC Tickers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300],
      "parameters": {
        "url": "https://api.mexc.com/api/v3/ticker/price",
        "method": "GET",
        "options": {}
      }
    },
    {
      "id": "node4",
      "name": "Find Common Tokens",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "jsCode": "// Fetch verified common tokens from Supabase\nconst dbTokens = await $helpers.httpRequest({\n  method: 'GET',\n  url: 'https://ymwjfvtqtgtfqfiojsyx.supabase.co/rest/v1/common_tokens?select=symbol,mint',\n  headers: {\n    'apikey': 'sb_publishable_nI6zclBG_CYamJP5PjgXoA_dTzFBHWB',\n    'Authorization': 'Bearer sb_publishable_nI6zclBG_CYamJP5PjgXoA_dTzFBHWB'\n  }\n});\n\n// Build token map: symbol → mint\nconst tokenMap = {};\nfor (const token of dbTokens) {\n  if (token.symbol && token.mint) tokenMap[token.symbol] = token.mint;\n}\n\n// Build live MEXC price map\nconst mexcPriceMap = {};\nfor (const item of $input.all()) {\n  const t = item.json;\n  if (typeof t.symbol === 'string' && t.symbol.endsWith('USDT')) {\n    mexcPriceMap[t.symbol.slice(0, -4)] = parseFloat(t.price);\n  }\n}\n\n// Intersect: tokens present on both exchanges right now\nconst result = [];\nfor (const [sym, mint] of Object.entries(tokenMap)) {\n  if (mexcPriceMap[sym] !== undefined) {\n    result.push({ symbol: sym, mint, mexcPrice: mexcPriceMap[sym] });\n  }\n}\n\nreturn result.map(t => ({ json: t }));"
      }
    },
    {
      "id": "node5",
      "name": "Fetch Jupiter Prices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "jsCode": "const tokens = $input.all();\nif (!tokens.length) return [];\n\nconst mints = tokens.map(t => t.json.mint);\n\n// Split into batches of 50 (price/v3 limit)\nconst batches = [];\nfor (let i = 0; i < mints.length; i += 50) {\n  batches.push(mints.slice(i, i + 50).join(','));\n}\n\n// Fetch all batches in parallel\nconst results = await Promise.all(batches.map(ids =>\n  $helpers.httpRequest({\n    method: 'GET',\n    url: `https://api.jup.ag/price/v3?ids=${ids}`,\n    headers: { 'x-api-key': 'YOUR_JUPITER_API_KEY' }\n  })\n));\n\n// Merge into a single price map: mint → usdPrice\nconst priceMap = {};\nfor (const batch of results) {\n  for (const [mint, data] of Object.entries(batch)) {\n    if (data && data.usdPrice != null) {\n      priceMap[mint] = parseFloat(data.usdPrice);\n    }\n  }\n}\n\n// Return enriched token items (only those with a Jupiter price)\nreturn tokens\n  .filter(t => priceMap[t.json.mint] != null)\n  .map(t => ({\n    json: {\n      symbol: t.json.symbol,\n      mint: t.json.mint,\n      mexcPrice: t.json.mexcPrice,\n      jupPrice: priceMap[t.json.mint]\n    }\n  }));"
      }
    },
    {
      "id": "node6",
      "name": "Calculate Spreads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst spreads = [];\nconst timestamp = new Date().toISOString();\n\nfor (const item of items) {\n  const { symbol, mint, mexcPrice, jupPrice } = item.json;\n  if (!jupPrice || !mexcPrice || isNaN(jupPrice) || isNaN(mexcPrice)) continue;\n\n  const spreadPct = ((mexcPrice - jupPrice) / jupPrice) * 100;\n  const absSpread = Math.abs(spreadPct);\n\n  if (absSpread >= 5) {\n    spreads.push({\n      symbol, mint,\n      mexc_price: mexcPrice,\n      jup_price: jupPrice,\n      spread_pct: parseFloat(spreadPct.toFixed(4)),\n      abs_spread_pct: parseFloat(absSpread.toFixed(4)),\n      direction: spreadPct > 0 ? 'Buy JUP -> Sell MEXC' : 'Buy MEXC -> Sell JUP'\n    });\n  }\n}\n\nspreads.sort((a, b) => b.abs_spread_pct - a.abs_spread_pct);\nreturn [{ json: { spreads, count: spreads.length, tokens_compared: items.length, timestamp } }];"
      }
    },
    {
      "id": "node_log_scan",
      "name": "Log Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300],
      "parameters": {
        "method": "POST",
        "url": "https://ymwjfvtqtgtfqfiojsyx.supabase.co/rest/v1/spread_scans",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "sb_publishable_nI6zclBG_CYamJP5PjgXoA_dTzFBHWB" },
            { "name": "Authorization", "value": "Bearer sb_publishable_nI6zclBG_CYamJP5PjgXoA_dTzFBHWB" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ scanned_at: $('Calculate Spreads').first().json.timestamp, tokens_compared: $('Calculate Spreads').first().json.tokens_compared, alerts_count: $('Calculate Spreads').first().json.count }) }}",
        "options": {}
      }
    },
    {
      "id": "node7",
      "name": "Has Spreads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1440, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
          "conditions": [{"id": "cond1", "leftValue": "={{ $('Calculate Spreads').first().json.count }}", "rightValue": 0, "operator": {"type": "number", "operation": "gt"}}],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node9",
      "name": "Save Spread Alerts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 200],
      "parameters": {
        "method": "POST",
        "url": "https://ymwjfvtqtgtfqfiojsyx.supabase.co/rest/v1/spread_alerts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "sb_publishable_nI6zclBG_CYamJP5PjgXoA_dTzFBHWB" },
            { "name": "Authorization", "value": "Bearer sb_publishable_nI6zclBG_CYamJP5PjgXoA_dTzFBHWB" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Calculate Spreads').first().json.spreads.map(s => ({ scan_id: $json[0].id, scanned_at: $('Calculate Spreads').first().json.timestamp, symbol: s.symbol, mint: s.mint, mexc_price: s.mexc_price, jup_price: s.jup_price, spread_pct: s.spread_pct, abs_spread_pct: s.abs_spread_pct, direction: s.direction, exchanges: 'MEXC/Jupiter' })) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "MEXC Tickers", "type": "main", "index": 0 }]] },
    "MEXC Tickers": { "main": [[{ "node": "Find Common Tokens", "type": "main", "index": 0 }]] },
    "Find Common Tokens": { "main": [[{ "node": "Fetch Jupiter Prices", "type": "main", "index": 0 }]] },
    "Fetch Jupiter Prices": { "main": [[{ "node": "Calculate Spreads", "type": "main", "index": 0 }]] },
    "Calculate Spreads": { "main": [[{ "node": "Log Scan", "type": "main", "index": 0 }]] },
    "Log Scan": { "main": [[{ "node": "Has Spreads?", "type": "main", "index": 0 }]] },
    "Has Spreads?": {
      "main": [
        [{ "node": "Save Spread Alerts", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none"
  }
}
